@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

body {
  font-family: "Comfortaa", sans-serif;
  color: #fff;
  background-color: #61122f;
}

#header-nav {
  background-color: #f6b319 !important;
  border-radius: 0;
  border: 0;
}

#logo-img {
  border-radius: 50%;
}

.navbar-brand {
  display: inline-block;
}

#nav-h1 {
  text-decoration: none;
  color: #fff;
}
